/* universal selector */
* {
  box-sizing: border-box;
}

/* element selector */
html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 10px;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
}

header {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem;
}
header a {
  text-decoration: none;
  color: white;
}

.background-img {
  height: 100%;
  background-image: url(../images/anime.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.start-container {
  max-width: 80%;
  margin-top: 11rem;
  padding: 5rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: 0 0 30px 10px rgb(255, 255, 255), 0 0 60px 30px rgb(235, 46, 46);
  border-radius: 20px;
}
.sm-question-font {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  font-size: 2rem;
}

.input-btn,
.myButton {
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 20px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
}
.input-btn:hover,
.myButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}

.input-btn:active,
.myButton:active {
  position: relative;
  top: 1px;
}

.answer-btn-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

h1.scores-titles {
  margin-bottom: 4rem;
}

ul.answer-btn-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.answer-btn-container button {
  margin: 5px;
}

.score-list {
  justify-content: space-between;
  margin-bottom: 2rem;
  cursor: default;
}

.play-again-btn {
  background: linear-gradient(to bottom, #fe5d00 5%, #ce5d00 100%);
  background-color: #fe6600;
  border-radius: 20px;
  border: 1px solid #d85826;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 3rem;
  padding: 6px 24px;
  text-decoration: none;
}

.gunDiv {
  height: 100vh;
  width: 60rem;
  position: absolute;
  bottom: -90%;
  left: -5%;
  animation: slide-up 3s linear forwards;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  /* left: -10rem; */
}

.gameOverWording {
  position: absolute;
  top: 20%;
  z-index: 501;
  text-align: center;
  font-size: 15rem;
  letter-spacing: 1.5rem;
  color: #a00909;
  text-shadow: 0 0 2rem #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2rem #000;
  -webkit-text-shadow: 0 0 2rem #000;
}

.gameOverImg {
  z-index: 500;
  height: 100vh;
}

.right-answer {
  color: rgb(243, 133, 7);
  background-color: rgb(173, 42, 2);
}
.wrong-answer {
  color: rgb(7, 7, 7);
  background-color: rgb(173, 42, 2);
}

.alert {
  font-size: 2.5rem;
  position: absolute;
  padding: 0.75rem 1.25rem;
  margin: 3rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-family: "Bangers", cursive;
  text-shadow: 0 0 2rem #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2rem #000;
  -webkit-text-shadow: 0 0 2rem #000;
  box-shadow: 0 0 30px 10px rgb(8, 8, 8), 0 0 20px 10px rgb(235, 46, 46);
}

form {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

input {
  flex-grow: 2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding: 1rem;
  max-width: 100%;
}

input:focus {
  outline: none;
}

.input-btn {
  border-radius: 0px 10px 10px 0px;
  color: white;
}

@media (max-width: 576px) {
  .start-container {
    margin-top: 8rem;
    max-width: 80%;
  }
  .question-font {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .input-btn {
    max-width: 3.5rem;
    padding: 5px;
    font-size: 1rem;
  }
  .sm-question-font {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
  }
  .input-btn,
  .myButton {
    font-size: 1rem;
    /* font-family: "Open Sans", sans-serif; */
  }

  .gunDiv {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: -10%;
    left: 0%;
    animation: fade-out ease 7s;
  }
  .gunDiv img {
    width: 100%;
  }

  .gameOverWording {
    font-size: 10rem;
    letter-spacing: 1rem;
  }
}

@keyframes slide-up {
  0% {
    bottom: -50%;
    left: 0%;
  }

  50% {
    bottom: 0%;
    left: 0%;
  }

  100% {
    bottom: -80%;
    left: 0%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
