/* universal selector */
* {
  box-sizing: border-box;
}

/* element selector */
html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 10px;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
}

header {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem;
}
header a {
  text-decoration: none;
  color: white;
}

.background-img {
  height: 700px;
  background-image: url(../assets/images/anime.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.start-container {
  margin-top: 15rem;
  padding: 5rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: 0 0 30px 10px rgb(255, 255, 255), 0 0 60px 30px rgb(235, 46, 46);
  border-radius: 20px;
}

.myButton {
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 20px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  font-size: 15px;

  padding: 6px 24px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.answer-btn-container {
  display: flex;
  flex-direction: column;
}

.answer-btn-container button {
  margin: 5px;
}
